/* Mixins for media queries */
@mixin phone-only {
  @media (max-width: 599px) {
    @content;
  }
}

@mixin tablet-potrait-up {
  @media (min-width: 600px) {
    @content;
  }
}

@mixin tablet-landscape-up {
  @media (min-width: 900px) {
    @content;
  }
}

@mixin tablet-landscape-down {
  @media (max-width: 900px) {
    @content;
  }
}

@mixin desktop-up {
  @media (min-width: 1200px) {
    @content;
  }
}

@mixin desktop-down {
  @media (max-width: 1200px) {
    @content;
  }
}

:root {
  font-size: 10px;
  --sole-primary: #FF0040;
}

body {
  color: #ffffff;
  font-family: 'Product Sans';
  background: #000000;
}

a {
  color: white;
}

.loading-screen {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  background: #000000;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  &__animation {
    width: 180px;
    height: 180px;
  }

  &__loading-text {
    color: white;
    font-family: 'Product Sans';
    margin-top: -40px;
    font-size: 1.8rem;
  }
}


.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 4.8rem;
  padding-bottom: 4.8rem;


  @include tablet-landscape-down() {
    padding-top: 1.8rem;
    padding-bottom: 1.8rem;
  }
}

.logo {
  @include tablet-landscape-down() {
    width: 28px;
  }
}

.sole-btn {
  background: var(--sole-primary);
  border: 1px solid transparent;
  border-radius: 4rem;
  font-size: 1.9rem;
  line-height: 1.5;
  padding: 0.9rem 5rem;
  font-family: 'Product Sans';
  position: relative;
  vertical-align: middle;
  transition: all 0.25s;

  &:hover {
    color: var(--sole-primary);
    border-color: var(--sole-primary);
    background: transparent;
    transition: all 0.25s;
  }

  @include tablet-landscape-down() {
    font-size: 1.4rem;
    padding: 0.5rem 3rem;
    border-radius: 3rem;
  }
}

//sections with sole-company-pattern
.sole-section-pattern {
  min-height: 475px;
  background: no-repeat 0 100% url('../img/sole-company-pattern.svg');
  background-size: 550px;

  @include tablet-landscape-down() {
    background-size: 350px;
    background-position: left 110px;
  }

  &--right {
    background-position: right bottom;

    @include tablet-landscape-down() {
      background-size: 350px;
    }
  }
}

.slide {
  position: relative;
  padding: 0 1rem;
  color: transparent;
  display: flex;
  justify-content: center;
}

.intro-section {
  margin-top: 70px;
  display: flex;
  position: relative;

  @include tablet-landscape-down() {
    margin-top: 20px;
  }

  &__text {
    margin-top: 1rem;
    font-size: 10rem;
    width: 100%;
    text-align: center;
    font-family: 'Product Sans Bold';
    padding-top: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: center;

    @media screen and (max-width: 1199px) {
      font-size: calc(6vw + 1.8rem);
    }

    @include tablet-landscape-down() {
      flex-direction: column;
      font-size: calc(8vw + 2.5rem);
      align-items: center;
      justify-content: initial;
      margin-top: 1.8rem;
    }

    @include phone-only() {
      font-size: calc(10vw + 2.5rem);
    }



    .effect {
      display: flex;
      position: absolute;
      top: 0;
      text-align: center;
      color: var(--sole-primary);
      font-family: 'Product Sans Bold Italic';

      &:not(.slide--current) {
        pointer-events: none;
        opacity: 0;
      }
    }
  }
}

.intro-arrow {
  margin-top: 5rem;
  position: absolute;
  bottom: 10%;
  left: 50%;
  transform-origin: center;
  transform: translateX(-50%);
  animation: arrowDown 1.5s infinite;
  animation-timing-function: ease-in-out;

  @include tablet-landscape-down() {
    width: 24px;
  }
}

@keyframes arrowDown {
  0% {
    bottom: 10%;
  }

  100% {
    bottom: -5%;
  }
}

.heading {
  font-size: 5rem;
  line-height: 1.31;
  font-family: 'Product Sans Bold';
  margin: 0;

  @include tablet-landscape-down() {
    font-size: 3.6rem;
  }

  &--3 {
    font-size: 4.2rem;

    @include tablet-landscape-down() {
      font-size: 2.8rem;
    }
  }
}

.paragraph {
  font-size: 2.4rem;
  line-height: 1.69;
  padding-top: 5rem;
  margin: 0;

  @include tablet-landscape-down() {
    font-size: 1.8rem;
    padding-top: 3.5rem;
  }
}

.about-section {
  margin-top: calc(11rem + 5vw);

  .heading--2 {
    max-width: 853px;
    padding-bottom: 5rem;
  }

  .paragraph {
    max-width: 600px;
  }
}


.what-we-do {
  margin-top: 15rem;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;

  @include phone-only() {
    display: block;
  }
}

.arrow-heading {
  display: flex;
  align-items: center;

  .heading--3 {
    padding-left: 1.6rem;
  }

  @include tablet-landscape-down() {
    .arrow-section {
      width: 38px;
    }
  }
}

.section-content {
  max-width: 465px;
  flex-basis: 465px;
  text-align: left;

  .sole-outline-btn {
    margin-top: 7rem;
  }

  @include tablet-landscape-down() {
    .heading--2 {
      padding-top: 3rem;
    }
  }

  @include phone-only() {
    .sole-outline-btn {
      margin-top: 4rem;
    }
  }
}

.list {
  margin-top: 4rem;
  padding-left: 0;
  list-style-type: none;

  li {
    font-size: 2.4rem;
    line-height: 1.7;
  }

  @include phone-only() {
    margin-top: 3rem;

    li {
      font-size: 1.8rem;
    }
  }

}

/* divider */
.divider {
  margin-top: 4rem;
  margin-bottom: 4rem;
  border-width: 0.5px;

  &--primary {
    border-color: var(--sole-primary);
  }

  @include phone-only() {
    margin-top: 3rem;
    margin-bottom: 3rem;
  }
}

/* outlined button */
.sole-outline-btn {
  color: var(--sole-primary);
  font-size: 16px;
  border: 2px solid #202020;
  padding: 1.1rem 4.4rem;
  background: transparent;
  line-height: 1.5;

  &:hover {
    background: transparentize($color: #FF0040, $amount: 0.9);
    border-color: transparentize($color: #202020, $amount: 0.4)
  }
}






/* utility classes */
.container {
  max-width: 1180px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1.8rem;
  padding-right: 1.8rem;

}

.hide {
  display: none;
  opacity: 0;
}

.color-primary {
  color: var(--sole-primary);
}

.letter-effect {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap
}