/* Mixins for media queries */
:root {
  font-size: 10px;
  --sole-primary: #FF0040;
}

body {
  color: #ffffff;
  font-family: 'Product Sans';
  background: #000000;
}

a {
  color: white;
}

.loading-screen {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  background: #000000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.loading-screen__animation {
  width: 180px;
  height: 180px;
}

.loading-screen__loading-text {
  color: white;
  font-family: 'Product Sans';
  margin-top: -40px;
  font-size: 1.8rem;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 4.8rem;
  padding-bottom: 4.8rem;
}

@media (max-width: 900px) {
  .header {
    padding-top: 1.8rem;
    padding-bottom: 1.8rem;
  }
}

@media (max-width: 900px) {
  .logo {
    width: 28px;
  }
}

.sole-btn {
  background: var(--sole-primary);
  border: 1px solid transparent;
  border-radius: 4rem;
  font-size: 1.9rem;
  line-height: 1.5;
  padding: 0.9rem 5rem;
  font-family: 'Product Sans';
  position: relative;
  vertical-align: middle;
  -webkit-transition: all 0.25s;
  transition: all 0.25s;
}

.sole-btn:hover {
  color: var(--sole-primary);
  border-color: var(--sole-primary);
  background: transparent;
  -webkit-transition: all 0.25s;
  transition: all 0.25s;
}

@media (max-width: 900px) {
  .sole-btn {
    font-size: 1.4rem;
    padding: 0.5rem 3rem;
    border-radius: 3rem;
  }
}

.sole-section-pattern {
  min-height: 475px;
  background: no-repeat 0 100% url("../img/sole-company-pattern.svg");
  background-size: 550px;
}

@media (max-width: 900px) {
  .sole-section-pattern {
    background-size: 350px;
    background-position: left 110px;
  }
}

.sole-section-pattern--right {
  background-position: right bottom;
}

@media (max-width: 900px) {
  .sole-section-pattern--right {
    background-size: 350px;
  }
}

.slide {
  position: relative;
  padding: 0 1rem;
  color: transparent;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.intro-section {
  margin-top: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

@media (max-width: 900px) {
  .intro-section {
    margin-top: 20px;
  }
}

.intro-section__text {
  margin-top: 1rem;
  font-size: 10rem;
  width: 100%;
  text-align: center;
  font-family: 'Product Sans Bold';
  padding-top: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media screen and (max-width: 1199px) {
  .intro-section__text {
    font-size: calc(6vw + 1.8rem);
  }
}

@media (max-width: 900px) {
  .intro-section__text {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    font-size: calc(8vw + 2.5rem);
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: initial;
        -ms-flex-pack: initial;
            justify-content: initial;
    margin-top: 1.8rem;
  }
}

@media (max-width: 599px) {
  .intro-section__text {
    font-size: calc(10vw + 2.5rem);
  }
}

.intro-section__text .effect {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  top: 0;
  text-align: center;
  color: var(--sole-primary);
  font-family: 'Product Sans Bold Italic';
}

.intro-section__text .effect:not(.slide--current) {
  pointer-events: none;
  opacity: 0;
}

.intro-arrow {
  margin-top: 5rem;
  position: absolute;
  bottom: 10%;
  left: 50%;
  -webkit-transform-origin: center;
          transform-origin: center;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  -webkit-animation: arrowDown 1.5s infinite;
          animation: arrowDown 1.5s infinite;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
}

@media (max-width: 900px) {
  .intro-arrow {
    width: 24px;
  }
}

@-webkit-keyframes arrowDown {
  0% {
    bottom: 10%;
  }
  100% {
    bottom: -5%;
  }
}

@keyframes arrowDown {
  0% {
    bottom: 10%;
  }
  100% {
    bottom: -5%;
  }
}

.heading {
  font-size: 5rem;
  line-height: 1.31;
  font-family: 'Product Sans Bold';
  margin: 0;
}

@media (max-width: 900px) {
  .heading {
    font-size: 3.6rem;
  }
}

.heading--3 {
  font-size: 4.2rem;
}

@media (max-width: 900px) {
  .heading--3 {
    font-size: 2.8rem;
  }
}

.paragraph {
  font-size: 2.4rem;
  line-height: 1.69;
  padding-top: 5rem;
  margin: 0;
}

@media (max-width: 900px) {
  .paragraph {
    font-size: 1.8rem;
    padding-top: 3.5rem;
  }
}

.about-section {
  margin-top: calc(11rem + 5vw);
}

.about-section .heading--2 {
  max-width: 853px;
  padding-bottom: 5rem;
}

.about-section .paragraph {
  max-width: 600px;
}

.what-we-do {
  margin-top: 15rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

@media (max-width: 599px) {
  .what-we-do {
    display: block;
  }
}

.arrow-heading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.arrow-heading .heading--3 {
  padding-left: 1.6rem;
}

@media (max-width: 900px) {
  .arrow-heading .arrow-section {
    width: 38px;
  }
}

.section-content {
  max-width: 465px;
  -ms-flex-preferred-size: 465px;
      flex-basis: 465px;
  text-align: left;
}

.section-content .sole-outline-btn {
  margin-top: 7rem;
}

@media (max-width: 900px) {
  .section-content .heading--2 {
    padding-top: 3rem;
  }
}

@media (max-width: 599px) {
  .section-content .sole-outline-btn {
    margin-top: 4rem;
  }
}

.list {
  margin-top: 4rem;
  padding-left: 0;
  list-style-type: none;
}

.list li {
  font-size: 2.4rem;
  line-height: 1.7;
}

@media (max-width: 599px) {
  .list {
    margin-top: 3rem;
  }
  .list li {
    font-size: 1.8rem;
  }
}

/* divider */
.divider {
  margin-top: 4rem;
  margin-bottom: 4rem;
  border-width: 0.5px;
}

.divider--primary {
  border-color: var(--sole-primary);
}

@media (max-width: 599px) {
  .divider {
    margin-top: 3rem;
    margin-bottom: 3rem;
  }
}

/* outlined button */
.sole-outline-btn {
  color: var(--sole-primary);
  font-size: 16px;
  border: 2px solid #202020;
  padding: 1.1rem 4.4rem;
  background: transparent;
  line-height: 1.5;
}

.sole-outline-btn:hover {
  background: rgba(255, 0, 64, 0.1);
  border-color: rgba(32, 32, 32, 0.6);
}

/* utility classes */
.container {
  max-width: 1180px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1.8rem;
  padding-right: 1.8rem;
}

.hide {
  display: none;
  opacity: 0;
}

.color-primary {
  color: var(--sole-primary);
}

.letter-effect {
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -ms-flex-direction: row;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
          flex-direction: row;
  -ms-flex-align: center;
  -webkit-box-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
/*# sourceMappingURL=style.css.map */