/* Mixins for media queries */
:root {
  font-size: 10px;
  --sole-primary: #FF0040;
}

body {
  color: #ffffff;
  font-family: 'Product Sans';
  background: #000000;
  letter-spacing: -0.02em;
}

h1 {
  letter-spacing: -0.045em;
}

a {
  color: white;
  text-decoration: none;
}

i {
  font-family: 'Product Sans Italic';
}

.page-transition {
  height: 100vh;
  width: 100vw;
  background: var(--sole-primary);
  position: fixed;
  z-index: 200;
  top: 0;
  right: 0;
  -webkit-transform: scaleX(0) skewX(0);
          transform: scaleX(0) skewX(0);
  -webkit-transform-origin: top right;
          transform-origin: top right;
}

.loading-screen {
  position: fixed;
  z-index: 100;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  background: #000000;
  display: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.is-loading .loading-screen {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.loading-screen__animation {
  width: 180px;
  height: 180px;
}

.loading-screen__loading-text {
  color: white;
  font-family: 'Product Sans';
  margin-top: -40px;
  font-size: 1.8rem;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 4.8rem;
  padding-bottom: 4.8rem;
}

@media (max-width: 900px) {
  .header {
    padding-top: 1.8rem;
    padding-bottom: 1.8rem;
  }
}

@media (max-width: 900px) {
  .logo {
    width: 28px;
  }
}

.sole-btn {
  background: var(--sole-primary);
  border: 1px solid transparent;
  border-radius: 4rem;
  font-size: 1.9rem;
  line-height: 1.5;
  padding: 0.9rem 5rem;
  font-family: 'Product Sans';
  position: relative;
  vertical-align: middle;
  -webkit-transition: all 0.25s;
  transition: all 0.25s;
}

.sole-btn:hover {
  color: var(--sole-primary);
  border-color: var(--sole-primary);
  background: transparent;
  -webkit-transition: all 0.25s;
  transition: all 0.25s;
}

@media (max-width: 900px) {
  .sole-btn {
    font-size: 1.4rem;
    padding: 0.5rem 3rem;
    border-radius: 3rem;
  }
}

.sole-section-pattern {
  min-height: 475px;
  background: no-repeat 0 100% url("../img/sole-company-pattern.svg");
  background-size: 550px;
}

@media (max-width: 900px) {
  .sole-section-pattern {
    background-size: 350px;
    background-position: left 110px;
  }
}

.sole-section-pattern--right {
  background-position: right bottom;
}

@media (max-width: 900px) {
  .sole-section-pattern--right {
    background-size: 350px;
  }
}

.slide {
  position: relative;
  padding: 0 1rem;
  color: transparent;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.intro-section {
  margin-top: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

@media (max-width: 599px) {
  .intro-section.sole-section-pattern {
    min-height: 300px;
  }
}

.intro-section--no-effect {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.intro-section--no-effect .intro-arrow {
  -webkit-animation: arrowDown-mobile 1.5s infinite;
          animation: arrowDown-mobile 1.5s infinite;
}

.intro-section__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  width: calc(100vw - 3.6em);
  max-width: 1180px;
}

@media (max-width: 900px) {
  .intro-section {
    margin-top: 20px;
  }
}

.intro-section__text {
  margin-top: 1rem;
  font-size: 10rem;
  width: 100%;
  text-align: left;
  font-family: 'Product Sans Bold';
  padding-top: 6rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.intro-section__text--plain {
  text-align: left;
  display: block;
  line-height: 1.04;
  font-size: 9.4rem;
  max-width: 577px;
}

@media (max-width: 599px) {
  .intro-section__text--plain {
    text-align: center;
  }
}

@media screen and (max-width: 1199px) {
  .intro-section__text {
    font-size: calc(6vw + 1.8rem);
  }
}

@media (min-width: 900px) {
  .intro-section__text {
    padding-top: 10rem;
  }
}

@media (max-width: 900px) {
  .intro-section__text {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    font-size: calc(8vw + 2rem);
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: initial;
        -ms-flex-pack: initial;
            justify-content: initial;
    margin-top: 1.8rem;
  }
}

@media (max-width: 599px) {
  .intro-section__text {
    font-size: calc(10vw + 1.6rem);
  }
}

.intro-section__text .effect {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  top: 0;
  text-align: center;
  color: var(--sole-primary);
  font-family: 'Product Sans Bold Italic';
}

.intro-section__text .effect:not(.slide--current) {
  pointer-events: none;
  opacity: 0;
}

.intro-arrow {
  margin-top: 5rem;
  position: absolute;
  bottom: 10%;
  left: 50%;
  -webkit-transform-origin: center;
          transform-origin: center;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  -webkit-animation: arrowDown 1.5s infinite;
          animation: arrowDown 1.5s infinite;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
}

@media (max-width: 900px) {
  .intro-arrow {
    width: 24px;
  }
}

@media (max-width: 599px) {
  .intro-arrow {
    width: 16px;
    bottom: 0;
    -webkit-animation: arrowDown-mobile 1.5s infinite;
            animation: arrowDown-mobile 1.5s infinite;
  }
}

@-webkit-keyframes arrowDown {
  0% {
    bottom: 10%;
  }
  100% {
    bottom: -5%;
  }
}

@keyframes arrowDown {
  0% {
    bottom: 10%;
  }
  100% {
    bottom: -5%;
  }
}

@-webkit-keyframes arrowDown-mobile {
  0% {
    bottom: 0%;
  }
  100% {
    bottom: -10%;
  }
}

@keyframes arrowDown-mobile {
  0% {
    bottom: 0%;
  }
  100% {
    bottom: -10%;
  }
}

.heading {
  font-size: 5rem;
  line-height: 1.31;
  font-family: 'Product Sans Bold';
  margin: 0;
}

@media (max-width: 900px) {
  .heading {
    font-size: 3.6rem;
  }
}

.heading--3 {
  font-size: 4.2rem;
}

@media (max-width: 900px) {
  .heading--3 {
    font-size: 2.8rem;
  }
}

.paragraph {
  font-size: 2.4rem;
  line-height: 1.69;
  padding-top: 5rem;
  margin: 0;
}

@media (max-width: 900px) {
  .paragraph {
    font-size: 1.8rem;
    padding-top: 3.5rem;
  }
}

.about-section {
  margin-top: calc(11rem + 5vw);
}

.about-section .heading--2 {
  max-width: 853px;
  padding-bottom: 5rem;
}

.about-section .paragraph {
  max-width: 600px;
}

.what-we-do {
  margin-top: 15rem;
}

.what-we-do .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

@media (max-width: 599px) {
  .what-we-do .container {
    display: block;
  }
}

.arrow-heading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.arrow-heading .heading--3 {
  padding-left: 1.6rem;
}

@media (max-width: 900px) {
  .arrow-heading .arrow-section {
    width: 38px;
  }
}

.section-content {
  max-width: 465px;
  -ms-flex-preferred-size: 465px;
      flex-basis: 465px;
  text-align: left;
  margin-right: 12rem;
}

.section-content .sole-outline-btn {
  margin-top: 7rem;
}

@media (max-width: 900px) {
  .section-content {
    margin-right: initial;
  }
  .section-content .heading--2 {
    padding-top: 3rem;
  }
}

@media (max-width: 599px) {
  .section-content .sole-outline-btn {
    margin-top: 4rem;
  }
}

.list {
  margin-top: 4rem;
  padding-left: 0;
  list-style-type: none;
}

.list li {
  font-size: 2.4rem;
  line-height: 1.7;
}

@media (max-width: 599px) {
  .list {
    margin-top: 3rem;
  }
  .list li {
    font-size: 1.8rem;
  }
}

/* divider */
.divider {
  margin-top: 4rem;
  margin-bottom: 4rem;
  border-width: 0;
  height: 1px;
  display: block;
  text-align: left;
  background: #2e2e2e;
  width: 0%;
}

.divider--primary {
  background: var(--sole-primary);
}

@media (max-width: 599px) {
  .divider {
    margin-top: 3rem;
    margin-bottom: 3rem;
  }
}

/* outlined button */
.sole-outline-btn {
  color: var(--sole-primary);
  font-size: 16px;
  border: 2px solid #202020;
  padding: 1.1rem 4.4rem;
  background: #000000;
  line-height: 1.5;
}

.sole-outline-btn:hover {
  background: rgba(255, 0, 64, 0.1);
  border-color: rgba(32, 32, 32, 0.6);
}

.contact-info {
  margin-top: 6.5rem;
}

.contact-info dt {
  font-size: 2rem;
  line-height: 1.26;
  padding-top: 6.5rem;
}

.contact-info dd {
  font-family: 'Product Sans Bold';
  font-size: 3rem;
  padding-left: 0;
  margin-left: 0;
  line-height: 1.26;
}

.contact-info a {
  color: white;
  text-decoration: none;
  position: relative;
}

.contact-info a::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 4px;
  background: var(--sole-primary);
  -webkit-transition: 0.3s width ease-in;
  transition: 0.3s width ease-in;
}

.contact-info a:hover::before {
  width: 100%;
  -webkit-transition: 0.3s width ease-in;
  transition: 0.3s width ease-in;
}

@media (max-width: 599px) {
  .contact-info {
    margin-top: 3.5rem;
  }
  .contact-info dt {
    font-size: 1.6rem;
    padding-top: 4.5rem;
  }
  .contact-info dd {
    font-size: 2.4rem;
  }
}

.say-hi-section {
  margin-top: 10.5rem;
}

.say-hi-section__title {
  color: var(--sole-primary);
  font-size: 4rem;
  line-height: 1.6;
  text-align: center;
}

@media (max-width: 599px) {
  .say-hi-section__title {
    font-size: 3.2rem;
  }
}

@media (max-width: 599px) {
  .say-hi-section {
    margin-top: 6.5rem;
  }
}

.contact-form {
  margin-top: 9rem;
  max-width: 645px;
  padding-bottom: 12rem;
}

.contact-form input,
.contact-form textarea {
  background: #000000;
  display: block;
  width: 100%;
  padding: 1.5rem 2rem;
  color: white;
  font-size: 1.8rem;
  margin-bottom: 3rem;
  border: 1px solid #202020;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.contact-form input:focus,
.contact-form textarea:focus {
  border: 1px solid var(--sole-primary);
  outline: 0;
}

.contact-form textarea {
  min-height: 260px;
}

.office-address .office-address__container {
  max-width: 320px;
  float: right;
  margin-right: 320px;
  font-size: 2.5rem;
  padding-top: 13rem;
  padding-bottom: 13rem;
}

.office-address h5 {
  line-height: 1.69;
  font-family: 'Product Sans Bold';
  margin: 0;
}

.office-address p {
  line-height: 1.69;
}

.office-address br {
  clear: both;
}

.office-address .divider {
  border-color: var(--sole-primary);
  margin-top: 2.5rem;
  margin-bottom: 2.5rem;
}

@media (max-width: 900px) {
  .office-address .office-address__container {
    margin-right: 0;
    float: none;
  }
}

@media (max-width: 599px) {
  .office-address.sole-section-pattern {
    background: none;
    min-height: initial;
  }
  .office-address .office-address__container {
    width: 80%;
    padding-top: 8rem;
    padding-bottom: 0.5rem;
  }
  .office-address p {
    font-size: 1.8rem;
  }
  .office-address h5 {
    font-size: 1.8rem;
  }
}

/* utility classes */
.container {
  max-width: 1180px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1.8rem;
  padding-right: 1.8rem;
}

.w-100-container {
  width: calc(100vw - 3.6rem);
  max-width: 1180px;
}

.hide {
  display: none;
  opacity: 0;
}

.color-primary {
  color: var(--sole-primary);
}

.bold-italic {
  font-family: 'Product Sans Bold Italic';
}

.oh {
  overflow: hidden;
  display: inline-block;
}

.js-t-line,
.js-t-line-head,
.js-t-line-stg {
  display: inline-block;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
}

.slide-in-left {
  opacity: 0;
  -webkit-transform: translateX(-100px);
          transform: translateX(-100px);
}

.letter-effect {
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -ms-flex-direction: row;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
          flex-direction: row;
  -ms-flex-align: center;
  -webkit-box-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.footer {
  margin-top: 12rem;
  padding-top: 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 15px;
  margin-bottom: 3.5rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.footer .divider {
  margin: 0;
  position: absolute;
  top: 0;
  left: 0;
}

@media (max-width: 900px) {
  .footer {
    margin-top: 9rem;
    padding-top: 2rem;
    margin-bottom: 2.5rem;
  }
}

.gsap-up-in {
  -webkit-transform: scaleY(0);
          transform: scaleY(0);
}

.cursor {
  width: 40px;
  height: 40px;
  background: black;
  mix-blend-mode: exclusion;
  border: 1px solid #ffffff;
  border-radius: 50%;
  position: absolute;
  pointer-events: none;
  z-index: 300;
}

.cursor--blend {
  background: white;
}
/*# sourceMappingURL=style.css.map */