:root {
  font-size: 10px;
  --sole-primary: #FF0040;
}

body {
  color: #ffffff;
  font-family: 'Product Sans';
  background: #000000;
  letter-spacing: -0.02em;
}

h1 {
  letter-spacing: -0.045em;
}

a {
  color: white;
  text-decoration: none;
}

i {
  font-family: 'Product Sans Italic';
}